body {
  font-family: "Rubik", sans-serif;
  line-height: 1.666;
  text-align: center;
  background-color: #edf2f4;
  font-size: 1.1em;
  flex-direction: column;
  margin:0;
  padding-bottom: 50px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #2b2d42;
  font-weight: 400;
}

h1 {
  font-size: 2em;
  font-weight: 600;
}

h2 {
  margin: 0 0 .3em;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #edf2f4;
}

p {
  width: 100%;
  margin: 0;
}

.intro {
  justify-content: center;
  transition: .5s opacity;
}

.overlay {
  position: fixed;
  top: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, .9);
  color: white;
  align-items: center;
  justify-content: center;
  transition: .5s;
  z-index: 20;
}

.overlay p {
  padding: 2em;
  width: 80%;
  font-size: small;
}

.hidden {
  opacity: 0;
  z-index: -2;
}

div .no-display {
  display: none;
}

.overlay h1 {
  color: white;
  font-size: 3em;
  margin: 0;
}

.overlay h2 {
  color: #ef233c;
  font-size: 2em;
  margin: 0;
  margin-bottom: 2em;
}

input[type="button"] {
  border: 3px solid #ef233c;
  border-radius: 10px;
  color: white;
  background-color: #ef233c;
  padding: .8em 1.5em;
  margin: 1em;
  font-size: 1em;
  transition: .2s all ease-in-out;
}

input[type="button"]:hover,
input[type="button"]:focus {    
  background-color: rgba(0, 0, 0, 0);
  border: 3px solid #ef233c;
  color: #ef233c;
}

input[type="button"]:focus {
  transform: scale(1.1);
  outline: none;
}

.scheme-selector {
  display: flex;
  flex-direction: row;
  margin: 1.2em 0em 0em;
}

.scheme-selector label {
  display: flex;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  margin: 0.4em 1em;
}

.scheme-selector input {
  display: none;
}

.scheme-selector input:checked + span {
  background-color: #d6d6e5;
}
.scheme-selector input:checked + span:before {
  box-shadow: inset 0 0 0 0.4375em #ef233c;
}
.scheme-selector span {
  display: flex;
  align-items: center;
  padding: 0.375em 0.75em 0.375em 0.375em;
  border-radius: 99em;
  transition: 0.25s ease;
}
.scheme-selector span:hover {
  background-color: #d6d6e5;
}
.scheme-selector span:before {
  display: flex;
  flex-shrink: 0;
  content: "";
  background-color: #fff;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  margin-right: 0.375em;
  transition: 0.25s ease;
  box-shadow: inset 0 0 0 0.125em #00005c;
}

.input-group {
  background: white;
  display: flex;
  align-items:center;
  border-radius: 10px;
}

#prev-gpa {
  font-family: inherit;
  font-size: 1.1em;
  text-align: center;
  background: #fff;
  height: 30px;
  padding: .4em 1.2em;
  width: 100px;
  border-radius: 10px;
  border: 2px transparent solid;
  transition: .4s;
}

.input-group input, .input-group select {
  margin:0;
  -webkit-appearance: menulist-button;
  font-family: inherit;
  font-size: 1em;
  padding: 0;
  border: none;
  background: none;
  height: 30px;
  padding: .2em 1em;
  border: 2px transparent solid;
  transition: .4s;
}

.input-group input {
  width: 100px;
  text-align: center;
  border-left: 1px #aaa solid;
  border-radius: 0px 10px 10px 0px;
}
.input-group select {
  height: 40px;
  border-radius: 10px 0px 0px 10px;
}

input:focus, select:focus, #prev-gpa:focus {
  outline:none;
  border: 2px #ef233c solid;
}

label {
  width: 100%;
}

.grid {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 10px;
}

#more {
  color: #ef233c;
  width: 100%;
}

#more label {
  cursor: pointer;
}

.field {
  display: flex;
  width: 80%;
  text-align: center;
  justify-content: space-between;
  margin: 10px;
  align-items: center;
  flex-direction: column;
}

.internals {
  flex-basis: 170px;
}

@media only screen and (min-width: 800px) {
  section {
    padding: 0 10%;
  }
  .overlay h1 {
    font-size: 4em;
  }
  .internals {
    flex-basis: 300px;
  }
  .overlay p {
    width: 50%;
  }
}