body {
  font-family: "Rubik", sans-serif;
  line-height: 1.666;
  text-align: center;
  background-color: #edf2f4;
  font-size: 1.1em;
  flex-direction: column;
  margin:0;
  padding-bottom: 50px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #2b2d42;
  font-weight: 400;
}

h1 {
  font-size: 2em;
  font-weight: 600;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #edf2f4;
  padding: 1%;
}

p {
  width: 100%;
  margin: 0;
}

.intro {
  justify-content: center;
  transition: .5s opacity;
}

.overlay {
  position: fixed;
  top: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, .9);
  color: white;
  align-items: center;
  justify-content: center;
  transition: .5s;
  z-index: 10;
}

.overlay p {
  padding: 2em;
  width: 80%;
  font-size: small;
}

.hidden {
  opacity: 0;
  z-index: -2;
}

.overlay h1 {
  color: white;
  font-size: 3em;
  margin: 0;
}

.overlay h2 {
  color: #ef233c;
  font-size: 2em;
  margin: 0;
  margin-bottom: 2em;
}

input[type="button"] {
  border: 3px solid #ef233c;
  border-radius: 10px;
  color: white;
  background-color: #ef233c;
  padding: 1.2em 1.5em;
  font-size: 1em;
  transition: .2s all ease-in-out;
}

input[type="button"]:hover,
input[type="button"]:focus {    
  background-color: rgba(0, 0, 0, 0);
  border: 3px solid #ef233c;
  color: #ef233c;
}

input[type="button"]:focus {
  transform: scale(1.1);
  outline: none;
}

input[type="number"] {
  background: none;
  border: 0px solid;
  border: 2px #ababab solid;
  border-radius: 10px;
  text-align: center;
  font-size: large;
  padding: .5em;
  outline: none;
  box-shadow: none;
  transition: .3s;
  width: 80%;
}

input[type="number"]:focus {
  border-color: #ef233c;
}

label {
  width: 100%;
}

.grid {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.field {
  display: flex;
  width: 80%;
  text-align: center;
  justify-content: space-between;
  margin: 10px;
  align-items: center;
  flex-direction: column;
}

.internals {
  flex-basis: 170px;
}

@media only screen and (min-width: 800px) {
  section {
    padding: 0 10%;
  }
  .overlay h1 {
    font-size: 4em;
  }
  .internals {
    flex-basis: 300px;
  }
  .overlay p {
    width: 50%;
  }
}